In [1]:
from selenium import webdriver
from bs4 import BeautifulSoup
import pandas as pd
from webdriver_manager.chrome import ChromeDriverManager

In [2]:
import warnings

warnings.filterwarnings("ignore")

In [4]:
options = webdriver.ChromeOptions()
options.add_argument("--headless")
options.add_argument("--no-sandbox")
options.add_argument("--disable-dev-shm-usage")

wd = webdriver.Chrome("./chromedriver.exe", options=options)

- 14년도 부터 19년도 까지의 타자 데이터
- "http://www.statiz.co.kr/stat.php?mid=stat&re=0&ys=2022&ye=2022&se=0&te=&tm=&ty=0&qu=auto&po=0&as=&ae=&hi=&un=&pl=&da=1&o1=WAR_ALL_ADJ&o2=TPA&de=1&lr=0&tr=&cv=&ml=1&pa=0&si=&cn=&sn=1000

In [5]:
wd.get("http://www.statiz.co.kr/stat.php?opt=0&sopt=0&re=0&ys=2014&ye=2018&se=0&te=&tm=&ty=0&qu=auto&po=0&as=&ae=&hi=&un=&pl=&da=1&o1=WAR_ALL_ADJ&o2=TPA&de=1&lr=0&tr=&cv=&ml=1&sn=1000&si=&cn=")
#사용할 URL

html = wd.page_source
bsObject = BeautifulSoup(html, 'html.parser')
wd.quit()

In [6]:
temp = bsObject.find_all("table")[1]

In [7]:
column = ["순","이름","팀","WAR","G", "타석","타수","득점","안타","2타",
          "3타","홈런","루타","타점","도루","도실","볼넷","사구","고4", "삼진"
          ,"병살","희타","희비","타율","출루","장타","OPS","wOBA","WRC+"
          ]
df = pd.DataFrame(columns=column)
templen = len(temp.find_all("tr"))

for i in range(2, templen):
  tempTr = temp.find_all("tr")[i]
  if(tempTr.find("th")is not None):
    continue
  row = {}
  column_idx = 0
  for j in range(29):
    tempTd = tempTr.find_all("td")[j].text
    if(tempTd == "" and i >0):
      continue
    row[column[column_idx]] = tempTd
    column_idx += 1
  df = df.append(row, ignore_index = True)

In [8]:
df

,순,이름,팀,WAR,G,타석,타수,득점,안타,2타,...,삼진,병살,희타,희비,타율,출루,장타,OPS,wOBA,WRC+
0,1,테임즈,15N1B,10.71,142,595,472,130,180,42,...,91,7,0,7,.381,.498,.790,1.288,.530,222.3
1,2,강정호,14넥SS,8.05,117,501,418,103,149,36,...,106,8,0,2,.356,.459,.739,1.198,.500,185.6
2,3,박병호,15넥1B,7.76,140,622,528,129,181,35,...,161,10,0,4,.343,.436,.714,1.150,.481,181.9
3,4,최형우,16삼LF,7.75,138,618,519,99,195,46,...,83,12,0,7,.376,.464,.651,1.116,.480,177.8
4,5,서건창,14넥2B,7.63,128,616,543,135,201,41,...,47,1,4,2,.370,.438,.547,.985,.437,150.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,임경완,14SP,0.00,1,0,0,0,0,0,0,...,0,0,0,,,,,,,NaN
996,박정진,14한P,0.00,1,0,0,0,0,0,0,...,0,0,0,,,,,,,NaN
997,최영필,17KP,0.00,1,0,0,0,0,0,0,...,0,0,0,,,,,,,NaN
998,한승혁,18KP,0.00,1,0,0,0,0,0,0,...,0,0,0,,,,,,,NaN
999,안상빈,15kP,0.00,1,0,0,0,0,0,0,...,0,0,0,,,,,,,NaN

In [9]:
df.drop("순", axis=1, inplace=True)

In [10]:
df.to_csv("./data/14_18_hitter.csv", index=None)

In [11]:
pd.read_csv("./data/14_18_hitter.csv")

,이름,팀,WAR,G,타석,타수,득점,안타,2타,3타,...,삼진,병살,희타,희비,타율,출루,장타,OPS,wOBA,WRC+
0,테임즈,15N1B,10.71,142,595,472,130,180,42,5,...,91,7,0,7,.381,.498,.790,1.288,.530,222.3
1,강정호,14넥SS,8.05,117,501,418,103,149,36,2,...,106,8,0,2,.356,.459,.739,1.198,.500,185.6
2,박병호,15넥1B,7.76,140,622,528,129,181,35,1,...,161,10,0,4,.343,.436,.714,1.150,.481,181.9
3,최형우,16삼LF,7.75,138,618,519,99,195,46,2,...,83,12,0,7,.376,.464,.651,1.116,.480,177.8
4,서건창,14넥2B,7.63,128,616,543,135,201,41,17,...,47,1,4,2,.370,.438,.547,.985,.437,150.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,14SP,0.00,1.00,0,0,0,0,0,0,0,...,0,0,0,,,,,,,NaN
996,14한P,0.00,1.00,0,0,0,0,0,0,0,...,0,0,0,,,,,,,NaN
997,17KP,0.00,1.00,0,0,0,0,0,0,0,...,0,0,0,,,,,,,NaN
998,18KP,0.00,1.00,0,0,0,0,0,0,0,...,0,0,0,,,,,,,NaN
999,15kP,0.00,1.00,0,0,0,0,0,0,0,...,0,0,0,,,,,,,NaN

- 19년도 타자 데이터
- http://www.statiz.co.kr/stat.php?opt=0&sopt=0&re=0&ys=2019&ye=2019&se=0&te=&tm=&ty=0&qu=auto&po=0&as=&ae=&hi=&un=&pl=&da=1&o1=WAR_ALL_ADJ&o2=TPA&de=1&lr=0&tr=&cv=&ml=1&sn=1000&si=&cn=

In [3]:
options = webdriver.ChromeOptions()
options.add_argument("--headless")
options.add_argument("--no-sandbox")
options.add_argument("--disable-dev-shm-usage")

wd = webdriver.Chrome("./chromedriver.exe", options=options)

In [4]:
wd.get("http://www.statiz.co.kr/stat.php?opt=0&sopt=0&re=0&ys=2019&ye=2019&se=0&te=&tm=&ty=0&qu=auto&po=0&as=&ae=&hi=&un=&pl=&da=1&o1=WAR_ALL_ADJ&o2=TPA&de=1&lr=0&tr=&cv=&ml=1&sn=1000&si=&cn=")
#사용할 URL

html = wd.page_source
bsObject = BeautifulSoup(html, 'html.parser')
wd.quit()

In [5]:
temp = bsObject.find_all("table")[1]

In [6]:
column = ["순","이름","팀","WAR","G", "타석","타수","득점","안타","2타",
          "3타","홈런","루타","타점","도루","도실","볼넷","사구","고4", "삼진"
          ,"병살","희타","희비","타율","출루","장타","OPS","wOBA","WRC+"
          ]
df = pd.DataFrame(columns=column)
templen = len(temp.find_all("tr"))

for i in range(2, templen):
  tempTr = temp.find_all("tr")[i]
  if(tempTr.find("th")is not None):
    continue
  row = {}
  column_idx = 0
  for j in range(29):
    tempTd = tempTr.find_all("td")[j].text
    if(tempTd == "" and i >0):
      continue
    row[column[column_idx]] = tempTd
    column_idx += 1
  df = df.append(row, ignore_index = True)

In [7]:
df

,순,이름,팀,WAR,G,타석,타수,득점,안타,2타,...,삼진,병살,희타,희비,타율,출루,장타,OPS,wOBA,WRC+
0,1,김하성,19키SS,7.17,139,625,540,112,166,38,...,80,12,1,7,.307,.389,.491,.880,.397,145.7
1,2,양의지,19NC,6.69,118,459,390,61,138,26,...,43,13,0,6,.354,.438,.574,1.012,.452,179.8
2,3,최정,19S3B,6.32,141,606,503,86,147,27,...,92,4,0,8,.292,.399,.519,.918,.411,148.9
3,4,샌즈,19키RF,6.16,139,613,525,100,160,39,...,101,17,0,5,.305,.396,.543,.939,.421,163.0
4,5,로하스,19KCF,5.49,142,576,520,68,167,29,...,120,4,0,5,.321,.379,.527,.905,.405,151.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
351,352,양성우,19한LF,-0.77,56,129,119,11,20,3,...,28,2,1,0,.168,.227,.218,.445,.214,20.6
352,353,전병우,19롯1B,-0.79,28,54,50,2,5,1,...,22,0,1,0,.100,.151,.120,.271,.134,-35.3
353,354,노시환,19한1B,-0.80,91,192,177,19,33,8,...,72,3,1,1,.186,.241,.260,.501,.237,36.4
354,355,김동엽,19삼DH,-0.85,60,211,195,15,42,4,...,47,2,0,2,.215,.265,.338,.604,.279,60.7
355,356,나종덕,19롯C,-1.41,104,209,185,12,23,4,...,88,5,7,2,.124,.188,.195,.383,.180,-4.2

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 356 entries, 0 to 355
Data columns (total 29 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   순       356 non-null    object
 1   이름      356 non-null    object
 2   팀       356 non-null    object
 3   WAR     356 non-null    object
 4   G       356 non-null    object
 5   타석      356 non-null    object
 6   타수      356 non-null    object
 7   득점      356 non-null    object
 8   안타      356 non-null    object
 9   2타      356 non-null    object
 10  3타      356 non-null    object
 11  홈런      356 non-null    object
 12  루타      356 non-null    object
 13  타점      356 non-null    object
 14  도루      356 non-null    object
 15  도실      356 non-null    object
 16  볼넷      356 non-null    object
 17  사구      356 non-null    object
 18  고4      356 non-null    object
 19  삼진      356 non-null    object
 20  병살      356 non-null    object
 21  희타      356 non-null    object
 22  희비      356 non-null    object
 23  타율      356 non-null    object
 24  출루      356 non-null    object
 25  장타      356 non-null    object
 26  OPS     356 non-null    object
 27  wOBA    356 non-null    object
 28  WRC+    296 non-null    object
dtypes: object(29)
memory usage: 80.8+ KB

In [11]:
df.dropna(inplace=True)

In [13]:
df[["G", "타석", "타수", "득점", "안타", "2타", "3타", "홈런", "루타", "타점", \
    "도루", "도실", "볼넷", "사구", "고4", "삼진", "병살", "희타", "희비"]]= \
        df[["G", "타석", "타수", "득점", "안타", "2타", "3타", "홈런", "루타", "타점", \
    "도루", "도실", "볼넷", "사구", "고4", "삼진", "병살", "희타", "희비"]].astype("int")

In [17]:
df = df[df["타석"] >= 10]

In [19]:
df[["WAR", "타율", "출루", "장타", "OPS", "wOBA", "WRC+"]] = \
    df[["WAR", "타율", "출루", "장타", "OPS", "wOBA", "WRC+"]].astype("float")

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 251 entries, 0 to 355
Data columns (total 29 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   순       251 non-null    object
 1   이름      251 non-null    object
 2   팀       251 non-null    object
 3   WAR     251 non-null    float64
 4   G       251 non-null    int32
 5   타석      251 non-null    int32
 6   타수      251 non-null    int32
 7   득점      251 non-null    int32
 8   안타      251 non-null    int32
 9   2타      251 non-null    int32
 10  3타      251 non-null    int32
 11  홈런      251 non-null    int32
 12  루타      251 non-null    int32
 13  타점      251 non-null    int32
 14  도루      251 non-null    int32
 15  도실      251 non-null    int32
 16  볼넷      251 non-null    int32
 17  사구      251 non-null    int32
 18  고4      251 non-null    int32
 19  삼진      251 non-null    int32
 20  병살      251 non-null    int32
 21  희타      251 non-null    int32
 22  희비      251 non-null    int32
 23  타율      251 non-null    float64
 24  출루      251 non-null    float64
 25  장타      251 non-null    float64
 26  OPS     251 non-null    float64
 27  wOBA    251 non-null    float64
 28  WRC+    251 non-null    float64
dtypes: float64(7), int32(19), object(3)
memory usage: 40.2+ KB

In [22]:
df.dropna(inplace=True)

In [23]:
df.set_index("순", inplace=True)

In [24]:
df

,이름,팀,WAR,G,타석,타수,득점,안타,2타,3타,...,삼진,병살,희타,희비,타율,출루,장타,OPS,wOBA,WRC+
순,,,,,,,,,,,,,,,,,,,,,
1,김하성,19키SS,7.17,139,625,540,112,166,38,2,...,80,12,1,7,0.307,0.389,0.491,0.880,0.397,145.7
2,양의지,19NC,6.69,118,459,390,61,138,26,0,...,43,13,0,6,0.354,0.438,0.574,1.012,0.452,179.8
3,최정,19S3B,6.32,141,606,503,86,147,27,0,...,92,4,0,8,0.292,0.399,0.519,0.918,0.411,148.9
4,샌즈,19키RF,6.16,139,613,525,100,160,39,1,...,101,17,0,5,0.305,0.396,0.543,0.939,0.421,163.0
5,로하스,19KCF,5.49,142,576,520,68,167,29,3,...,120,4,0,5,0.321,0.379,0.527,0.905,0.405,151.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
352,양성우,19한LF,-0.77,56,129,119,11,20,3,0,...,28,2,1,0,0.168,0.227,0.218,0.445,0.214,20.6
353,전병우,19롯1B,-0.79,28,54,50,2,5,1,0,...,22,0,1,0,0.100,0.151,0.120,0.271,0.134,-35.3
354,노시환,19한1B,-0.80,91,192,177,19,33,8,1,...,72,3,1,1,0.186,0.241,0.260,0.501,0.237,36.4
355,김동엽,19삼DH,-0.85,60,211,195,15,42,4,1,...,47,2,0,2,0.215,0.265,0.338,0.604,0.279,60.7
356,나종덕,19롯C,-1.41,104,209,185,12,23,4,0,...,88,5,7,2,0.124,0.188,0.195,0.383,0.180,-4.2

In [25]:
df.to_csv("./data/19_hitter.csv", index=None)

In [26]:
pd.read_csv("./data/19_hitter.csv")

,이름,팀,WAR,G,타석,타수,득점,안타,2타,3타,...,삼진,병살,희타,희비,타율,출루,장타,OPS,wOBA,WRC+
0,김하성,19키SS,7.17,139,625,540,112,166,38,2,...,80,12,1,7,0.307,0.389,0.491,0.880,0.397,145.7
1,양의지,19NC,6.69,118,459,390,61,138,26,0,...,43,13,0,6,0.354,0.438,0.574,1.012,0.452,179.8
2,최정,19S3B,6.32,141,606,503,86,147,27,0,...,92,4,0,8,0.292,0.399,0.519,0.918,0.411,148.9
3,샌즈,19키RF,6.16,139,613,525,100,160,39,1,...,101,17,0,5,0.305,0.396,0.543,0.939,0.421,163.0
4,로하스,19KCF,5.49,142,576,520,68,167,29,3,...,120,4,0,5,0.321,0.379,0.527,0.905,0.405,151.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246,양성우,19한LF,-0.77,56,129,119,11,20,3,0,...,28,2,1,0,0.168,0.227,0.218,0.445,0.214,20.6
247,전병우,19롯1B,-0.79,28,54,50,2,5,1,0,...,22,0,1,0,0.100,0.151,0.120,0.271,0.134,-35.3
248,노시환,19한1B,-0.80,91,192,177,19,33,8,1,...,72,3,1,1,0.186,0.241,0.260,0.501,0.237,36.4
249,김동엽,19삼DH,-0.85,60,211,195,15,42,4,1,...,47,2,0,2,0.215,0.265,0.338,0.604,0.279,60.7
250,나종덕,19롯C,-1.41,104,209,185,12,23,4,0,...,88,5,7,2,0.124,0.188,0.195,0.383,0.180,-4.2